/.pypirc
/venv/
/tools
pyproject.toml
/.idea/
/src/delayed_reactant_labeling.egg-info/
/docs/build/
/dist/
/examples/optimization/
/examples/model_boundaries/optimization/
/examples/docs/optimization/
/examples/docs/optimization_multiple
